* {
    margin: 0;
    padding: 0;
    font-family: "Okra", Arial, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}


header {
    display: flex;
    align-items: center;
    gap: 40px;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    position: sticky;
    top: 0px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.headerLeft {
    display: flex;
    align-items: center;
}

.logo {
    padding: 18px 25px;
    border-right: 1px solid #eeeeee;
}

.headerAddress {
    padding: 20px 30px;
}

.headerAddress h3 {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 600;
    color: #1c1c1c;
}

.headerAddress p {
    font-size: 14px;
    color: #666;
}

.searchBox {
    flex-grow: 1;
    background-color: #f8f8f8;
    display: flex;
    border-radius: 15px;
    border: 1px solid #eeeeee;
    height: 46px;
    padding: 0 5px;
}

.searchBox button {
    cursor: pointer;
    padding: 15px;
    border: none;
    background-color: transparent;
    color: #666;
}

.searchBox button:hover {
    color: #333;
}

.searchBox input {
    flex-grow: 1;
    border: none;
    background-color: transparent;

    padding: 12px 5px;
    font-size: 14px;
    color: #4d4d4d;
}

.searchBox input::placeholder {
    color: #999;
}

.searchBox input:focus{
    outline: none;
}

.headerBtn {
    display: flex;
    gap: 40px;
    margin-right: 40px;
}

.headerBtn button {
    font-size: 16px;
    padding: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

.headerBtn button:last-child {
    color: white;
    border-radius: 6px;
    font-weight: bold;
    background-color: #cccccc;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.2s;
}

.headerBtn button:last-child:hover {
    background-color: rgb(46, 44, 44);
}

.bannerSection {
    margin: 0px auto;
    max-width: 1280px;
}

.bannerSection img{
    width: 100%;
}

.orderBanner {
    display: flex;
    max-width: 1280px;
    margin: auto;
}

.orderBannerItems {
    flex-basis: 27%;
    margin: 1%;
}

.orderBannerItems img {
    width: 100%;
}

.categorySection {
    max-width: 1280px;
    flex-wrap: wrap;
    display: flex;
    margin: auto;
}

.categoryItems {
    flex-basis: 10%;
}

.categoryItems img {
    width: 100%;
}

.productSection {
    max-width: 1280px;
    margin: auto;
    padding: 30px 0px 0px 0px;
}

.headingRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.headingRow h2 {
    font-size: 24px;
}

.headingRow a {
    color: #0c831f;
    font-size: 20px;
}

.productRow {
    width: 100%;
    margin: 30px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.productItems {
    flex-basis: 15%;
    box-shadow: rgba(0, 0, 0, 0.04) 2px 2px 8px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 0.5px solid #e8e8e8;
}

.productImg {
    text-align: center;
    padding: 15px;
}

.productImg p {
    border-radius: 4px;
    border-width: 0px;
    padding: 0px 4px;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 55px;

    text-align: left;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 9px;
    color: rgb(54, 54, 54)
}

.productContent {
    padding: 15px;
    padding-top: 0px;
}

.productContent h3 {
    margin-bottom: 15px;
    font-size: 13px;
    height: 40px;
}

.productContent p {
    font-size: 12px;
    color: #666666;
}

.btn-price-outer {
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: space-between;
}

.btn-price-outer b {
    font-size: 12px;
}

.btn-price-outer button {
    cursor: pointer;
    border: 1px solid #318616;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #f7fff9;
    color: #318616;
}

.footer {
    padding: 40px 0px 0px 0px;
}

.footer-mid {
    max-width: 1280px;
    margin: auto;
    margin: 48px auto auto;
}

.footer-mid-row1 {
    width: 100%;
    display: flex;
    gap: 40px;
}


.footer-mid-row1-left {
    flex-basis: 30%;
}

.footer-mid-row1-left h3 {
    margin-bottom: 20px;
}

.usefulLinks {
    display: flex;
}

.usefulLinks ul {
    flex-basis: 33%;
    list-style: none;
}

.usefulLinks ul li a {
    font-size: 14px;
    display: block;
    color: #666666;
    margin-bottom: 15px;
}

.footer-mid-row1-right {
    flex-basis: 70%;
}

.categoriesHeadingRow {
    display: flex;
    margin-bottom: 20px;
    gap: 18px;
    align-items: center;
}

.categoriesHeadingRow a {
    color: #0c831f;
}

.footerLinks-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 40px;
}

.footerLinks-list li {
    flex-basis: 30%;
}

.footerLinks-list li a {
    font-size: 14px;
    display: block;
    color: #666666;
    margin-bottom: 15px;
}

.footer-mid-row2 {
    background-color: #fcfcfc;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 0px;
}

.footer-mid-row2 p {
    flex-basis: 40%;
    font-size: 12px;
    text-align: center;
    color: #666666;
}

.appIcons {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-basis: 30%;
    color: #666666;
}

.socialLinks {
    display: flex;
    gap: 25px;
}

.socialLinks i{
    width: 40px;
    cursor: pointer;
    height: 40px;
    color: white;
    background-color: #1f1f1f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-mid-row3 p {
    padding: 20px 0px;
    font-size: 14px;
    line-height: 20px;
    color: #666666;
}